body {
    font-family: Arial, sans-serif;
    background-color: #ac6335;
    text-align: center;
    margin: 0;
    padding: 0;
}
#converter {
    margin: 50px auto;
    width: 300px;
    padding: 20px;
    background-color: #99bb61;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
h2 {
    color: #333;
}
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}